{% extends "base.html" %}

{% block content %}

<div class="auth-card">

  <h1>Create Channel</h1>

  <p class="muted">
    Workspace: {{ workspace[1] }}
  </p>

  <form class="form"
        method="post"
        action="{{ url_for('channel.create_channel', wid=workspace[0]) }}">

    <input
      name="cname"
      placeholder="Channel name"
      required
    >

    <select name="ctype">

      <option value="public">
        Public
      </option>

      <option value="private">
        Private
      </option>

      <option value="direct">
        Direct
      </option>

    </select>

    <button type="submit">
      Create Channel
    </button>

  </form>

</div>

<br>

<a href="{{ url_for('workspace.workspace_detail', wid=workspace[0]) }}">
  ← Back to Workspace
</a>

{% endblock %}