{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <div>
    <h1>Hello, {{ username }}</h1>
    <p class="muted">Choose a workspace or manage your invitations.</p>
  </div>


  <button onclick="openModal('createWorkspaceModal')">
    + Create Workspace
  </button>
</div>

<div class="quick-actions">
  <a href="{{ url_for('workspace.workspace_invitations') }}">
    Workspace Invitations
  </a>

  <a href="{{ url_for('channel.channel_invitations') }}">
    Channel Invitations
  </a>
</div>

<h2>Your Workspaces</h2>

{% if workspaces %}
  <div class="grid">
    {% for w in workspaces %}
      <a class="workspace-card" href="{{ url_for('workspace.workspace_detail', wid=w[0]) }}">
        <h3>{{ w[1] }}</h3>

        <p>{{ w[2] or "No description" }}</p>

        <span class="badge">
          {{ w[3] }}
        </span>
      </a>
    {% endfor %}
  </div>
{% else %}
  <div class="empty-state">
    <h3>No workspace yet</h3>
    <p>You have not joined any workspace.</p>

    <a class="button" href="{{ url_for('workspace.create_workspace') }}">
      Create your first workspace
    </a>
  </div>
{% endif %}

<div id="createWorkspaceModal" class="modal hidden">
  <div class="modal-card">
    <div class="modal-header">
      <h2>Create Workspace</h2>

      <button class="icon-button"
              onclick="closeModal('createWorkspaceModal')">
        ×
      </button>
    </div>

    <form class="form"
          method="post"
          action="{{ url_for('workspace.create_workspace') }}">

      <input name="wname"
             placeholder="Workspace name"
             required>

      <textarea name="description"
                placeholder="Description"></textarea>

      <button type="submit">
        Create Workspace
      </button>

    </form>
  </div>
</div>

<script>
  function openModal(id) {
    document.getElementById(id).classList.remove("hidden");
  }

  function closeModal(id) {
    document.getElementById(id).classList.add("hidden");
  }
</script>

{% endblock %}
