<h1>{{ workspace[1] }}</h1>
<p>{{ workspace[2] }}</p>

<p>Your role: {{ role }}</p>

{% if role == "admin" %}
  <a href="{{ url_for('workspace.invite_user', wid=workspace[0]) }}">
    Invite User
  </a>
  <br>
  <a href="{{ url_for('workspace.sent_invitations', wid=workspace[0]) }}">
    Sent Invitations History
  </a>
{% endif %}

<h3>Create Channel</h3>

<form method="post"
      action="{{ url_for('channel.create_channel', wid=workspace[0]) }}">

  <input name="cname" placeholder="Channel name" required>

  <select name="ctype">
    <option value="public">Public</option>
    <option value="private">Private</option>
    <option value="direct">Direct</option>
  </select>

  <button type="submit">
    Create
  </button>

</form>

<a href="{{ url_for('channel.channel_list', wid=workspace[0]) }}">
  View Channels
</a>

<br><br>
<a href="{{ url_for('workspace.dashboard') }}">Back to Dashboard</a>